
/*! Navbar Changes*/
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

    .navbar-default .navbar-brand {
        color: #808080;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #c28cff;
        }

    .navbar-default .navbar-text {
        color: #808080;
    }

    .navbar-default .navbar-nav > li > a {
        color: #808080;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #c28cff;
        }

    .navbar-default .navbar-nav > li > .dropdown-menu {
        background-color: #ffffff;
    }

        .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
            color: #808080;
        }

            .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
            .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
                color: #c28cff;
                background-color: #ffffff;
            }

        .navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
            background-color: #ffffff;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #c28cff;
        background-color: #ffffff;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #c28cff;
        background-color: #ffffff;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #c28cff;
        background-color: #ffffff;
    }

    .navbar-default .navbar-toggle {
        border-color: #ffffff;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #ffffff;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #808080;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #808080;
    }

    .navbar-default .navbar-link {
        color: #808080;
    }

        .navbar-default .navbar-link:hover {
            color: #c28cff;
        }

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #808080;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #c28cff;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #c28cff;
        background-color: #ffffff;
    }
}

.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}

.navbar-form {
    padding: 10px 15px;
    margin-top: 8px;
    margin-right: -15px;
    margin-bottom: 8px;
    margin-left: -15px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}
/*! Navbar Changes : End */

@media (min-width: 768px) {
    .bs-docs-masthead {
        padding: 80px 0;
    }
}

.bs-docs-masthead, .bs-docs-header {
    position: relative;
    padding: 30px 15px;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #6f5499;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
    background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x;
}
